<div class="container text-center">
    <div class="row">
      <div class="col-12 col-sm-10 offset-sm-1">
        <div *ngIf="authError" class="alert alert-danger" role="alert">
          {{ authError }}
        </div>
        <form class="row g-3" [formGroup]="loginForm" (ngSubmit)="logIn()">
            <div class="form-group">
                <input type="email" placeholder="Email" class="form-control" formControlName="email" 
                [class.is-invalid]="loginForm.get('email')?.invalid && loginForm.get('email')?.dirty && loginForm.get('email')?.touched">
                <div class="invalid-feedback text-left">Email must be valid.</div>
            </div>

            <div class="form-group">
                <input type="password" placeholder="Password" class="form-control" formControlName="password" 
                [class.is-invalid]="loginForm.get('password')?.invalid && loginForm.get('password')?.dirty && loginForm.get('password')?.touched">
                <div *ngIf="passwordControl.invalid && passwordControl.dirty && passwordControl.touched" class="text-left text-danger">
                    Password must be at least 3 characters long.
                </div>
                <div class="invalid-feedback text-left">Password must be at least 3 characters long.</div>
            </div>

            <button [disabled]="loginForm.invalid" class="btn btn-primary" type="submit">Sign in</button>
  
            <a routerLink="/signup" class="btn btn-sm btn-outline-success mt-4" role="button">Sign up</a>
        </form>
      </div>
    </div>
  </div>