

<div *ngIf="recipes.length == 0; else showTable">
  You don't have any recipe!
</div>

<a routerLink="new"><button class="btn btn-success pull-right m-3" >Add a Recipe</button></a>

<router-outlet></router-outlet>

<ng-template #showTable>
  <!-- https://getbootstrap.com/docs/4.5/content/tables/#hoverable-rows -->

  <table class="table table-hover">
    <thead>
      <tr>
        <th>Name</th>
        <th>Description</th>
        <th>Categorie</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let recipe of recipes" app-recipes-list-item [recipe]="recipe"
        (recipeEditClicked)="recipeEditClicked($event)"
        (recipeDeleteClicked)="recipeDeleteClicked($event)"></tr>
    </tbody>
  </table>
</ng-template>

